doctype html
html(lang="en")
    include includes/_head
    include includes/_body
        .container-fluid 
            .container 
                .row 
                    include includes/components/_heading
                .row 
                    main.mt-4.p-3.col-10.offset-1.col-md-10.offset-md-1.d-flex.justify-content-center.align-items-center.flex-column
                        .row
                            include includes/components/_converter
                        .row 
                            include includes/components/_copyright
    include includes/_scripts