doctype html
html(lang="en")
    include includes/_head
    include includes/_body
        .container-fluid 
            .container 
                .row 
                    include includes/components/_heading
    include includes/_scripts