doctype html
html(lang="en")
    include includes/_head
    include includes/_body
        .container-fluid 
            .container 
                .row 
                    include includes/components/_heading
                .row 
                    main.mt-4.p-3.col-10.offset-1.col-md-10.offset-md-1.d-flex.justify-content-center.align-items-center.flex-column
                        .row
                            #converter_wrapper.d-flex.flex-column.flex-md-row.justify-content-center.align-items-center.fs-3.pt-5
                                section.mx-4.d-flex.flex-column 
                                    input#base_unit_input.text-center(type="text" placeholder ='℃')
                                    select#base_unit_selection.fs-4()
                                        option(value="Celsius") Celsius
                                        option(value="Fahrenheit") Fahrenheit
                                p.d-flex.align-items-center.justify-content-center 
                                    i.fa-solid.fa-equals
                                section.mx-4.d-flex.flex-column
                                    input#result_unit_input.text-center(type="text" placeholder ='℉')
                                    select#result_unit_selection.fs-4()
                                        option(value="Fahrenheit") Fahrenheit
                                        option(value="Celsius") Celsius
                        .row 
                            include includes/components/_copyright
    include includes/_scripts